<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiPelaporanInsiden">
        <activity
            android:name=".UploadVideo"
            android:exported="false" />
        <activity
            android:name=".AdminTampilanHalamanVideoPreview"
            android:exported="false" />
        <activity
            android:name=".AdminTampilanHalamanVideo"
            android:exported="false" />
        <activity
            android:name=".AdminTampilanLaporanManualLanjutan"
            android:exported="false" />
        <activity
            android:name=".AdminDatabasePengguna"
            android:exported="false" />
        <activity
            android:name=".AdminTampilanLaporanDarurat"
            android:exported="false" />
        <activity
            android:name=".AdminTampilanLaporanManual"
            android:exported="false" />
        <activity
            android:name=".AdminTampilanAwal"
            android:exported="false" />
        <activity
            android:name=".Main3"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".History_Laporan"
            android:exported="false" />
        <activity
            android:name=".notifikasiTab"
            android:exported="false" />
        <activity
            android:name=".scroll"
            android:exported="false" />
        <activity
            android:name=".scrolledukasi"
            android:exported="false" />
        <activity
            android:name=".edukasiTab"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Main2"
            android:exported="true"
            android:theme="@style/Theme.AplikasiPelaporanInsiden.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>